#hub {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: #E4E4E4;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
    height: 48px;
    margin-right: 3rem;
}

.user-profile {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #D9D9D9;
    cursor: pointer;
}

.user-name {
    font-family: var(--assistant);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
    height: 48px;
    margin-right: 4rem;
}

.options-option {
    width: 24px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100%;
}

.options-option:hover {
    background-color: rgba(151, 151, 151, 0.4);
}

.options-setting {
    content: url("../src/assets/settings-icon.svg");
}

.options-notification {
    content: url("../src/assets/notification-icon.svg");
    transform: translateY(5px);
}